.wiqml5{-webkit-flex-basis:588px;-ms-flex-preferred-size:588px;flex-basis:588px;}
.s17ynaak{padding-bottom:20px;max-height:668px;overflow-y:auto;}.s17ynaak::-webkit-scrollbar-track{margin-bottom:16px;}

.w1wf7dhi{display:grid;grid-gap:2px;}

.w2hsup5{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:15px 30px;border-bottom:1px solid rgba(0,0,0,0.05);}.w2hsup5:last-child{border-bottom:none;}
.cjk37vx{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:44px;margin-right:12px;}.cjk37vx.opened{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.c1aewuyh{width:16px;height:16px;color:rgba(0,0,0,0.4);}
.m1x0i73s{-webkit-flex:1;-ms-flex:1;flex:1;}
.c1lrr91s{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.ifuaxgh{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:1;-ms-flex:1;flex:1;margin-right:48px;cursor:pointer;}
.asx2g64{width:44px;height:44px;margin-right:20px;background:#dadada;}
.i10180ct{-webkit-flex:1;-ms-flex:1;flex:1;font-size:14px;line-height:17px;}
.t1idmxl7{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:#000;font-weight:500;}
.b5vkidx{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:4px;color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;}
.ajtzobz{display:none;margin-top:20px;}.ajtzobz.opened{display:block;}
.cr7kpio{cursor:pointer;}
.c1n4pegg{width:24px;height:24px;}

