.w1lbzga1{-webkit-flex-basis:588px;-ms-flex-preferred-size:588px;flex-basis:588px;}

.wrdya2m{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;background-color:#fff;border-radius:15px;}
.h1vh307k{position:relative;padding:20px 30px;border-bottom:1px solid rgba(0,0,0,0.05);}
.t1qfjroh{color:#000;font-weight:600;font-size:18px;line-height:100%;}
.d8b2mdb{margin-top:10px;color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;}

.c1whuod3{position:absolute;top:15px;right:15px;width:32px;height:32px;cursor:pointer;}


.wenuv0y{display:grid;grid-gap:2px;}

.w1g3nyj8{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:15px 30px;border-bottom:1px solid rgba(0,0,0,0.05);}.w1g3nyj8:last-child{border-bottom:none;}
.c1pgtsvo{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:44px;margin-right:12px;}.c1pgtsvo.opened{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.cyutawl{width:16px;height:16px;cursor:pointer;}
.mo41k06{-webkit-flex:1;-ms-flex:1;flex:1;}
.c14gv57s{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.i1mso3j5{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:1;-ms-flex:1;flex:1;margin-right:48px;cursor:pointer;}
.a1toinf3{width:44px;height:44px;margin-right:20px;background:#dadada;border-radius:50%;}
.i1hcsd3z{-webkit-flex:1;-ms-flex:1;flex:1;font-size:14px;line-height:17px;}
.tg6xt3t{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:#000;font-weight:500;}
.bsasbpk{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:4px;color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;}
.a1lx5l99{display:none;margin-top:20px;}.a1lx5l99.opened{display:block;}
.c1p9uv0u{cursor:pointer;}
.c1qtllp5{width:24px;height:24px;}

