/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */

html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */

hr {
  color: inherit; /* 1 */
  height: 0; /* 2 */
  overflow: visible; /* 3 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */

nav li::before {
  content: "\200B";
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
  -ms-overflow-style: scrollbar; /* 3 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */

/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */

table {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */

fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
  resize: block; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/*
 * Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;

  width: 100%;
  height: 2px;

  background: #333;
}

/* Fancy blur effect */
#nprogress .peg {
  position: absolute;
  right: 0;

  display: block;
  width: 100px;
  height: 100%;

  box-shadow: 0 0 10px #333, 0 0 5px #333;
  transform: rotate(3deg) translate(0, -4px);
  opacity: 1;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1031;

  display: block;
}

#nprogress .spinner-icon {
  box-sizing: border-box;
  width: 18px;
  height: 18px;

  border: solid 2px transparent;
  border-top-color: #333;
  border-left-color: #333;
  border-radius: 50%;

  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  position: relative;

  overflow: hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html,body,#root{height:100%;}body{font-family:'Titillium Web',-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto', 'Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;background:#fbfbfd;-webkit-font-smoothing:antialiased;}a{color:rgba(0,0,0,0.5);font-size:14px;line-height:140%;-webkit-text-decoration:underline;text-decoration:underline;}a.button{-webkit-text-decoration:none;text-decoration:none;}::-webkit-scrollbar{width:6px;height:6px;}::-webkit-scrollbar-track{background:none;}::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.2);border-radius:4px;}

.tyyw6dd{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;box-sizing:border-box;width:100%;max-width:100%;min-height:40px;padding:16px;word-break:break-all;word-break:break-word;background:#fff;border-radius:8px;box-shadow:0 10px 30px rgba(0,0,0,0.15);cursor:initial;}@media (min-width:500px){.tyyw6dd{width:304px;}}

.w1brcrvp{position:fixed;right:16px;bottom:8px;left:16px;z-index:9999;}@media (min-width:500px){.w1brcrvp{right:30px;bottom:22px;left:30px;}}
.t1uft144{position:absolute;bottom:0;left:0;max-width:100%;padding-bottom:8px;-webkit-transition:-webkit-transform 0.3s ease-out;-webkit-transition:transform 0.3s ease-out;transition:transform 0.3s ease-out;}.t1uft144.isRight{right:0;left:unset;}.t1uft144.isInvisible{visibility:hidden;}
.t1lfdt7.isAppearing{-webkit-animation:fromBottomAnimation-t1lfdt7 0.4s ease-out;animation:fromBottomAnimation-t1lfdt7 0.4s ease-out;}.t1lfdt7.isHiding{-webkit-animation:toLeftAnimation-t1lfdt7 0.3s ease-in forwards;animation:toLeftAnimation-t1lfdt7 0.3s ease-in forwards;}.t1lfdt7.isHiding.isRight{-webkit-animation:toRightAnimation-t1lfdt7 0.3s ease-in forwards;animation:toRightAnimation-t1lfdt7 0.3s ease-in forwards;}@-webkit-keyframes fromBottomAnimation-t1lfdt7{from{-webkit-transform:translate(0,1000px);-ms-transform:translate(0,1000px);transform:translate(0,1000px);}to{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}}@keyframes fromBottomAnimation-t1lfdt7{from{-webkit-transform:translate(0,1000px);-ms-transform:translate(0,1000px);transform:translate(0,1000px);}to{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}}@-webkit-keyframes toLeftAnimation-t1lfdt7{from{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}to{-webkit-transform:translate(-500px,0);-ms-transform:translate(-500px,0);transform:translate(-500px,0);}}@keyframes toLeftAnimation-t1lfdt7{from{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}to{-webkit-transform:translate(-500px,0);-ms-transform:translate(-500px,0);transform:translate(-500px,0);}}@-webkit-keyframes toRightAnimation-t1lfdt7{from{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}to{-webkit-transform:translate(500px,0);-ms-transform:translate(500px,0);transform:translate(500px,0);}}@keyframes toRightAnimation-t1lfdt7{from{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}to{-webkit-transform:translate(500px,0);-ms-transform:translate(500px,0);transform:translate(500px,0);}}

.w1nsw3o8{position:fixed;top:0;left:0;z-index:30;width:100vw;height:100vh;}
.mun8gmr{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1;overflow-y:auto;overscroll-behavior:none;}.mun8gmr:last-child{z-index:2;}
.msqwm39{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;min-height:100%;padding:10px 0;}
.maqqgs{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2;background-color:rgba(0,0,0,0.6);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

.ww8ilx7{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:48px;padding:0 15px;color:#000;font-weight:600;font-size:16px;font-family:unset;line-height:140%;white-space:nowrap;-webkit-text-decoration:none;text-decoration:none;background:#fff;border:0;border-radius:12px;outline:none;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;}.ww8ilx7.primary{color:#fff;background:#5887ff;}.ww8ilx7.secondary{color:#fff;background:#a3a5ba;}.ww8ilx7.light{color:#5887ff;background:#eff3ff;}.ww8ilx7.gray{color:#000;background:#f3f3f3;}.ww8ilx7.link{height:auto;padding:0;color:rgba(0,0,0,0.5);-webkit-text-decoration:underline;text-decoration:underline;background:transparent;}.ww8ilx7.small{height:36px;}.ww8ilx7.big{height:58px;}.ww8ilx7.full{width:100%;}.ww8ilx7:disabled{color:#fff;background:#7b7b7b;}

.whyxx1z{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:56px;padding:0 16px;background:#f4f4f4;border-radius:10px;cursor:text;}
.c1q3m7th{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.t199phs3{color:rgba(0,0,0,0.5);font-weight:500;font-size:12px;line-height:14px;}
.i1eftliv{padding:4px 0 0;background:transparent;border:0;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.pjziq5q{margin-left:16px;}

.w1r0jatj{width:var(--w1r0jatj-0);height:var(--w1r0jatj-0);border-radius:12px;}.w1r0jatj:not([src]){content:url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');}

.t1n1hkij{color:#000;background-color:#fff;}
.t1xsfu32{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:24px;height:24px;}
.thfo02f{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 10px 0 16px;font-size:15px;}
.cnjglp9{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:44px;height:44px;margin:-10px -12px -10px 0;color:#a5a7bd;background-color:transparent;border:0;outline:none;cursor:pointer;-webkit-transition:color 0.15s;transition:color 0.15s;-webkit-appearance:none;-moz-appearance:none;appearance:none;}.cnjglp9:hover{color:#000;}
.c19lpd0f{width:20px;height:20px;}

.cwl9jgr{width:20px;height:20px;color:transparent;}
.wm08154{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;height:36px;padding:8px;color:#000;font-weight:600;font-size:14px;line-height:140%;border-radius:8px;cursor:pointer;}.wm08154:hover{color:#5887ff;background:#f6f6f8;}.wm08154:hover .cwl9jgr{color:#a3a5ba;}.wm08154.isSelected .cwl9jgr{color:#5887ff;}

.wt73p2b{position:relative;background:#f6f6f8;border-radius:12px;}
.p164vgze{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:28px;height:28px;background:#fff;border-radius:8px;}
.p10kakmj{width:15px;height:15px;color:#a3a5ba;}
.v1jov1ps{max-width:83px;margin:0 6px 0 8px;overflow:hidden;color:#202020;font-weight:600;font-size:14px;line-height:140%;white-space:nowrap;text-overflow:ellipsis;}
.s12xt6u0{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;max-width:153px;margin:4px;cursor:pointer;}.s12xt6u0.isOpen .p10kakmj,.s12xt6u0:hover .p10kakmj,.s12xt6u0.isOpen .v1jov1ps,.s12xt6u0:hover .v1jov1ps{color:#5887ff;}
.a69mr2{margin-right:4px;}
.a1asxtqz{width:16px;height:16px;color:#a3a5ba;}
.d87kxht{position:absolute;right:0;z-index:1;min-width:204px;margin-top:8px;padding:8px;background:#fff;border-radius:12px;box-shadow:0 4px 16px rgba(0,0,0,0.08);}

.w1xwrcq2{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:64px;padding:0 20px;white-space:nowrap;background:#fff;border-bottom:1px solid #f6f6f8;box-shadow:0 1px 8px rgba(0,0,0,0.05);}
.cu4syn9{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;width:100%;max-width:796px;}
.l1ekikc4{color:#000;font-weight:bold;font-size:22px;line-height:120%;-webkit-text-decoration:none;text-decoration:none;}
.l17m3d8c{width:108px;height:38px;}

.w1jsrnpr{height:100%;background:#fff;}
.f1hssxqa{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.t1xoag9d{margin:100px 0 32px;color:#000;font-weight:500;font-size:27px;line-height:120%;text-align:center;}
.s3krs2q{margin-bottom:12px;color:#000;font-weight:500;font-size:14px;line-height:17px;text-align:left;opacity:0.5;}
.c138nu90{margin-top:32px;}
.bk80m2z{max-width:364px;margin:auto;}
.tcc9373{height:72px;margin-bottom:24px;padding:16px;border:1px solid #d2d2d2;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:15px;outline:none !important;}

.w5axq7x{height:100%;background:#fff;}
.b1ihcl5j{max-width:364px;margin:auto;}
.fr768hr{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.t1p2pbj4{margin:100px 0 16px;color:#000;font-weight:600;font-size:28px;line-height:34px;text-align:center;}
.t1fnzd9h{margin-bottom:8px;color:#000;font-weight:400;font-size:14px;line-height:20px;text-align:center;}
.t1bh0i7a{margin:20px 0 16px;padding:20px;color:#000;font-weight:400;font-size:14px;line-height:20px;text-align:left;background:#f5f5f5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:15px;}
.l3daw1v{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-top:56px;color:#000;-webkit-text-decoration:none;text-decoration:none;}
.c5tb8ha{width:100%;height:56px;margin-top:32px;color:#fff;font-weight:500;font-size:14px;line-height:17px;background:#000;}
.snqvh9q{margin:24px 0 12px;color:#000;font-weight:500;font-size:14px;line-height:17px;text-align:left;opacity:0.5;}
.i1bu9x4m{height:72px;margin-bottom:24px;padding:16px;border:1px solid #d2d2d2;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:15px;outline:none !important;}
.lrnynsh{font-weight:400;font-size:14px;line-height:20px;}
.bbdr10o{font-weight:500;}

.w1iifxii{height:auto !important;min-height:100%;background:#fff;}
.b1ttxzay{max-width:364px;margin:auto;}
.atzm2dl{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:column wrap;-ms-flex-flow:column wrap;flex-flow:column wrap;}.atzm2dl > :not(:last-child){margin-bottom:20px;}
.tjwf4o{color:#000;font-weight:500;font-size:27px;line-height:120%;text-align:center;}
.s1dxl215{margin-bottom:28px;color:#000;font-weight:500;font-size:27px;line-height:120%;text-align:center;}
.hd7pl6h{width:219px;height:209px;margin:91px auto 48px;background-image:url(/p2p-wallet-web/4090a32279ed56d79744b0ba4422e330.png);}

.w14yf8tm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-text-decoration:none;text-decoration:none;}
.p1uu769x{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#000;}
.b12v14gg{color:#000;font-size:14px;line-height:140%;-webkit-text-decoration:none;text-decoration:none;}
.c1rnkll2{padding:0 8px;}
.c269t7g{width:12px;height:12px;color:#000;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);}
.b15bdx59{color:rgba(0,0,0,0.5);font-size:14px;line-height:140%;}

.w1igbngq{display:grid;grid-gap:8px;}
.n9qzuwb{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:56px;padding:10px 20px;color:#000;font-weight:600;font-size:16px;line-height:140%;background:#fff;border-radius:12px;}
.inc9pat{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:36px;height:36px;margin-right:20px;background:#f6f6f8;border-radius:8px;}
.npetjwz{width:24px;height:24px;color:#a3a5ba;}
.ns4fz08.active .n9qzuwb{color:#5887ff;background:#eff3ff;}.ns4fz08.active .n9qzuwb .inc9pat{color:#5887ff;background:#fff !important;}.ns4fz08.active .n9qzuwb .inc9pat .npetjwz{color:#5887ff;}.ns4fz08.disabled{pointer-events:none;}.ns4fz08:hover .n9qzuwb{color:#5887ff;}.ns4fz08:hover .n9qzuwb .inc9pat{color:#5887ff;background:#eff3ff;}.ns4fz08:hover .n9qzuwb .inc9pat .npetjwz{color:#5887ff;}

.w10en8a9{padding:20px;background:#fff;border-radius:12px;}.w10en8a9.withShadow{box-shadow:0 4px 4px #f6f6f9;}

.w3eka8v{padding:0;box-shadow:0 4px 4px #f6f6f9;}
.h1k471fg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;height:70px;padding:0 20px;}.h1k471fg:not(:last-child){border-bottom:1px solid rgba(0,0,0,0.05);}
.t3d8ahu{color:#000;font-weight:600;font-size:24px;line-height:140%;}




.t19b8w4h{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:10px 20px;border-bottom:1px solid rgba(0,0,0,0.05);}
.uz374r0{margin-left:20px;color:#202020;font-weight:600;font-size:16px;line-height:140%;}
.bkw9z9d{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;height:54px;margin:0 16px 0 20px;}
.aokiz04{color:#a3a5ba;font-weight:600;font-size:14px;line-height:140%;}
.cxeqzy8{color:#2db533;font-weight:600;font-size:14px;line-height:140%;}
.curw57{width:21px;height:21px;color:#a3a5ba;}
.c1t6sugx{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:32px;height:32px;background:rgba(163,165,186,0.1);border-radius:8px;cursor:pointer;}.c1t6sugx:hover{background:#eff3ff;}.c1t6sugx:hover .curw57{color:#5887ff;}


.m1v5i9nx{padding:0 20px 170px;}
.c1y2mbv4{width:100%;max-width:796px;margin:0 auto;padding-top:16px;}

.ckwynsp{display:grid;grid-auto-flow:column;grid-gap:20px;}
.c1fx7mj2{display:grid;grid-gap:16px;grid-template-rows:min-content;width:252px;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;}
.cs1ufhs{display:grid;grid-gap:24px;grid-template-rows:min-content;width:524px;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;}
.couc7g2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}

.w1rlz15w{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:32px;}
.h1a9rgzk{width:175px;height:183px;margin-bottom:32px;background-image:url(/p2p-wallet-web/4090a32279ed56d79744b0ba4422e330.png);background-repeat:no-repeat;background-size:183px 175px;}
.cpoowlg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:56px;height:56px;margin:32px -4px 24px 0;background:#e1e1e1;border-radius:50%;}
.bsf8tr6{width:17px;height:17px;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.ii0ivej{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:32px;}
.vdzyj5c{color:#000;font-weight:500;font-size:28px;line-height:33px;}
.s1lheny4{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:24px;margin:12px 0;padding:0 16px;color:rgba(0,0,0,0.5);font-weight:bold;font-size:12px;line-height:14px;background:#f4f4f4;border-radius:8px;}
.d1wric1x{color:rgba(0,0,0,0.5);font-size:14px;line-height:140%;cursor:pointer;}





.a1x0kpxf{background:var(--a1x0kpxf-0);}

.wnvadao{padding:15px 32px;cursor:pointer;}
.i1js41ig{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:44px;}
.i1wp2ngm{-webkit-flex:1;-ms-flex:1;flex:1;margin-left:20px;}
.tfo3iqw{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:#000;font-weight:500;font-size:18px;line-height:21px;}
.t1hj1pg6{max-width:300px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.byc6ygr{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:4px;color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;}

.w1vik2zm{position:relative;padding:0 0 20px;}
.t1vd1qey{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;}

.a17kxpx8{-webkit-text-decoration:underline;text-decoration:underline;cursor:pointer;}.a17kxpx8.disabled{cursor:auto;pointer-events:none;}
.m9da6lm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:20px;}

.i17doet3{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;min-width:0;margin-left:20px;}
.s17a7ifk{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;height:44px;}
.tiutdb{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;min-width:0;cursor:pointer;}
.t1a6liaf{max-width:200px;overflow:hidden;color:#000;font-weight:500;font-size:22px;line-height:26px;white-space:nowrap;text-overflow:ellipsis;}

.c10e2e9z{width:16px;height:16px;margin-left:16px;color:#000;}
.aq13u6p{max-width:200px;color:#000;font-weight:500;font-size:28px;line-height:33px;text-align:right;background:transparent;border:0;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}.aq13u6p::-webkit-input-placeholder{color:#c2c2c2;}.aq13u6p::-moz-placeholder{color:#c2c2c2;}.aq13u6p:-ms-input-placeholder{color:#c2c2c2;}.aq13u6p::placeholder{color:#c2c2c2;}
.beq3zku{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:5px;color:rgba(0,0,0,0.3);font-size:14px;line-height:17px;-webkit-letter-spacing:-0.3px;-moz-letter-spacing:-0.3px;-ms-letter-spacing:-0.3px;letter-spacing:-0.3px;}
.bc9mt3j{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.a1ark1hb{margin-left:3px;}
.dnysyxe{position:absolute;right:0;left:0;z-index:1;margin-top:17px;background:#fefefe;border:1px solid #efefef;border-radius:0 0 10px 10px;box-shadow:0 12px 20px rgba(0,0,0,0.15);}
.ds42d8f{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:15px 32px;color:#000;font-weight:600;font-size:14px;line-height:17px;border-bottom:1px solid rgba(0,0,0,0.05);}
.s14wtbdx{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:44px;height:44px;background:#f5f5f5;border-radius:50%;}
.sh5zf5i{width:24px;height:24px;}
.s1hxmn7n{width:100%;margin-left:20px;color:#000;font-size:14px;line-height:17px;background:transparent;border:0;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}.s1hxmn7n::-webkit-input-placeholder{color:rgba(0,0,0,0.5);}.s1hxmn7n::-moz-placeholder{color:rgba(0,0,0,0.5);}.s1hxmn7n:-ms-input-placeholder{color:rgba(0,0,0,0.5);}.s1hxmn7n::placeholder{color:rgba(0,0,0,0.5);}
.d1yxk729{max-height:400px;overflow-y:auto;}.d1yxk729 > :not(:last-child){border-bottom:1px solid rgba(0,0,0,0.05);}

.w7sff4t{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.c1m6pxlm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:44px;height:44px;background:#f6f6f8;border-radius:50%;}
.w1v19zom{width:24px;height:24px;}
.t1jwjp1h{-webkit-flex:1;-ms-flex:1;flex:1;margin-left:20px;color:#000;font-weight:500;font-size:18px;line-height:21px;background:transparent;border:0;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}.t1jwjp1h::-webkit-input-placeholder{color:#c2c2c2;}.t1jwjp1h::-moz-placeholder{color:#c2c2c2;}.t1jwjp1h:-ms-input-placeholder{color:#c2c2c2;}.t1jwjp1h::placeholder{color:#c2c2c2;}


.t1dnuqic{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.blqykzq{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:35px;height:35px;background:#fcfcfc;border:1px solid rgba(0,0,0,0.1);border-radius:10px;cursor:pointer;}
.bmfjnf6{width:15px;height:15px;color:#000;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.t17rnq8v{margin-left:20px;color:#000;font-weight:500;font-size:22px;line-height:120%;}
.wkho99m{margin-top:20px;padding:0;}
.f4ahxwx{position:relative;padding:20px 32px;border-bottom:1px solid rgba(0,0,0,0.1);}
.r12gdpdy{position:absolute;top:-24px;right:32px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:44px;height:44px;background:#fff;border:1px solid #e7e7e7;border-radius:44px;cursor:pointer;}
.rtmrgx6{width:24px;height:24px;}
.twodw66{padding:16px 32px 32px;border-bottom:1px solid rgba(0,0,0,0.1);}
.tbi359z{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-bottom:20px;}.tbi359z > :not(:last-child){margin-right:10px;}
.s1m4fhcc{color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;}
.ftsnmln{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;height:35px;margin-top:10px;padding:0 18px;color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;background:#f7f7f7;border-radius:8px;}
.f1rz1ujp{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.f1pymp7f{-webkit-flex:1;-ms-flex:1;flex:1;text-align:right;}
.a1rsm5qs{padding:32px;}

.w1n6rojg{width:100%;max-width:556px;margin-top:25px;}

.r112fvh0{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;margin-right:-8px;}
.c1xlurkn{margin-left:12px;cursor:pointer;}
.cishvkc{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:15px;height:15px;color:#a3a5ba;}
.ppcs0vx{padding:0 50px;}.ppcs0vx > :first-child{margin-top:20px;}.ppcs0vx > :not(:last-child){margin-bottom:16px;}
.pkuwe37{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:rgba(0,0,0,0.5);font-size:14px;line-height:17px;}
.s1wwioqt{height:35px;padding:0 18px;color:rgba(0,0,0,0.5);background:#f7f7f7;border:1px solid transparent;border-radius:8px;outline:none;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;}.s1wwioqt.active{color:#000;border-color:rgba(0,0,0,0.5);}.s1wwioqt:not(:last-child){margin-right:10px;}

.wouisqs{width:100%;max-width:556px;margin-top:25px;}

.w1n1sk0j{-webkit-flex:1;-ms-flex:1;flex:1;padding:0;}
.hudhabv{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:64px;padding:0 8px 0 20px;}
.toqmjtd{-webkit-flex:1;-ms-flex:1;flex:1;margin-right:7px;}
.c1iwn7im{color:#2db533;font-weight:600;font-size:14px;line-height:21px;}
.t1s1keia{color:#000;font-weight:600;font-size:14px;line-height:21px;}
.tml8uj3{color:#a3a5ba;font-weight:600;font-size:16px;line-height:24px;cursor:pointer;}
.eps8y49{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:48px;height:48px;border-radius:12px;cursor:pointer;}.eps8y49:hover{background:#f6f6f8;}
.e1aiw0c2{width:32px;height:32px;color:#5887ff;}
.c9uvqv1{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-top:1px solid rgba(0,0,0,0.05);}
.t2445qe{margin:20px 0;color:#202020;font-weight:600;font-size:16px;line-height:24px;}
.f1dj82yb{padding:12px 20px 14px;color:#a3a5ba;font-size:14px;line-height:21px;text-align:center;border-top:1px solid rgba(0,0,0,0.05);}

.wrxxk3x{padding:15px 12px;cursor:pointer;}
.i1hzwdna{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:35px;}
.i1csdmu3{-webkit-flex:1;-ms-flex:1;flex:1;margin-left:12px;}
.t1p0sodg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:#fff;font-weight:500;font-size:14px;line-height:17px;}
.thigj5q{max-width:300px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.b1f0i3zs{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:4px;color:rgba(255,255,255,0.5);font-size:12px;line-height:14px;}


.scuv5vh{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;cursor:pointer;}
.vz0z40z{max-width:230px;margin-left:16px;overflow:hidden;color:#000;font-weight:600;font-size:20px;line-height:120%;white-space:nowrap;text-overflow:ellipsis;}
.cb8aser{margin-left:12px;}
.c1vz8dqs{width:16px;height:16px;color:#000;}
.d70sz8u{position:absolute;z-index:1;min-width:302px;margin-top:17px;padding:5px 0;background:#464646;border-radius:10px;box-shadow:0 12px 16px rgba(0,0,0,0.15);}.d70sz8u > :not(:last-child){border-bottom:1px solid rgba(0,0,0,0.05);}


.bthrull{display:grid;grid-auto-flow:column;grid-gap:16px;}
.ba8g7pn{width:36px;padding:0;box-shadow:0 4px 12px rgba(88,135,255,0.25);}
.p35blbr{width:20px;height:20px;color:#fff;}




.lmgtynh{width:20px;height:20px;-webkit-animation:rotate-lmgtynh 1s linear infinite;animation:rotate-lmgtynh 1s linear infinite;}@-webkit-keyframes rotate-lmgtynh{from{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes rotate-lmgtynh{from{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}

.wr9038v{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:86px;}

.w1bj9mxl{position:relative;padding:10px 0;}.w1bj9mxl:not(:last-child)::after{position:absolute;right:10px;bottom:0;left:10px;border-bottom:1px solid rgba(0,0,0,0.05);content:'';}
.a1l32lkf{width:48px;height:48px;margin-right:12px;background:#f6f6f8;}
.cklkeoe{-webkit-flex:1;-ms-flex:1;flex:1;}
.t1v5m4gc{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:#000;font-weight:600;font-size:16px;line-height:24px;}

.m1o0njt2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:10px;cursor:pointer;}.m1o0njt2:hover{background:#f6f6f8;border-radius:12px;}.m1o0njt2:hover .a1l32lkf{background:#fff;}.m1o0njt2:hover .t1piz64y{color:#5887ff;}
.bzzrx82{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:5px;color:#a3a5ba;font-weight:600;font-size:14px;line-height:16px;}

.w16dnu3r{margin:0 10px;}
.g1mclwfw{margin-top:10px;}.g1mclwfw:first-child{margin-top:20px;}
.tt81r8r{margin:0 10px;color:#a3a5ba;font-size:14px;line-height:16px;}


.eytjtcu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:86px;color:#a3a5ba;font-weight:600;font-size:14px;line-height:20px;}

.w1nvbub6{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.a8e5316{display:grid;grid-auto-flow:column;grid-gap:10px;}

.wbo0mpm{display:grid;grid-auto-flow:column;grid-gap:14px;}
.u1e04bl2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:80px;cursor:pointer;}
.aurya2o{width:56px;height:56px;background:rgba(196,196,196,0.5);}
.uqsonxz{margin-top:12px;color:#000;font-size:13px;line-height:140%;}


.tnrwo50{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin:20px 20px 30px;}
.p135jf64{font-weight:600;}
.tm3136f{color:#000;font-size:16px;line-height:24px;}
.p1nvdu4h{-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;margin:24px 0 4px;color:#000;font-size:32px;line-height:120%;}
.a12jkux9{color:#a3a5ba;font-size:14px;line-height:140%;}

.w36qtdg{position:relative;padding:10px 0;}.w36qtdg:not(:last-child)::after{position:absolute;right:10px;bottom:0;left:10px;border-bottom:1px solid rgba(0,0,0,0.05);content:'';}
.c1o9ngws{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-left:20px;}
.t1leb10z{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;color:#000;font-weight:600;font-size:18px;line-height:27px;}
.tuzc8t4{max-width:300px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.w14fpi8p{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:10px;-webkit-text-decoration:none;text-decoration:none;cursor:pointer;}.w14fpi8p:hover{background:#f6f6f8;border-radius:12px;}.w14fpi8p:hover .t1cwxuk8{background:#fff;}.w14fpi8p:hover .tuzc8t4{color:#5887ff;}
.buu95sr{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:5px;color:#a3a5ba;font-weight:600;font-size:14px;line-height:140%;}

.w7i1f4{margin:0 10px;}


.iy6kjlt{width:20px;height:20px;margin-right:8px;}

.w5o66st{display:grid;grid-gap:32px;grid-template-rows:min-content;width:100%;max-width:556px;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;}


/*# sourceMappingURL=styles.css.map*/