.Wrapper_w1tifgs8{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-basis:588px;-ms-flex-preferred-size:588px;flex-basis:588px;background-color:#fff;border-radius:15px;}
.Header_hyjm7t0{position:relative;padding:20px 20px 48px;border-bottom:1px solid rgba(0,0,0,0.05);}
.Title_t1ge91kj{color:#000;font-size:14px;line-height:17px;text-align:center;}

.CloseIcon_c4q92ii{position:absolute;top:15px;right:15px;width:32px;height:32px;cursor:pointer;}
.CircleWrapper_cn2thh8{position:absolute;bottom:-28px;left:50%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:56px;height:56px;margin-left:-28px;background:#e1e1e1;border-radius:50%;}
.ArrowAngleIcon_a1d2ax1y{width:17px;height:17px;}
.Content_c14kd5e9{padding:0 30px 24px;}
.StatusWrapper_s1qeiy73{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:52px 0 32px;}
.Value_vwa4296{color:#000;font-weight:500;font-size:28px;line-height:33px;}
.Status_s11bohjs{margin-top:12px;padding:5px 16px;color:rgba(0,0,0,0.5);font-weight:bold;font-size:12px;line-height:14px;background:#f4f4f4;border-radius:8px;}

.FieldWrapper_f1n4mogn{padding:20px 0;border-bottom:1px solid rgba(0,0,0,0.05);}.FieldWrapper_f1n4mogn:first-child{border-top:1px solid rgba(0,0,0,0.05);}
.FieldTitle_f9aqzce{color:rgba(0,0,0,0.5);font-weight:500;font-size:12px;line-height:14px;}
.FieldValue_fuy8m85{margin-top:8px;color:#000;font-size:14px;line-height:17px;}

